body {
  font-family: "Georgia", serif; }

h1, h2, h3 {
  font-family: "Georgia", serif; }

h2 {
  color: lime; }

.jumbotron {
  margin-bottom: 0;
  padding: 30px;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #93e6f1 0%, #91c0f1 45.5%);
  color: navy; }

.site-footer {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #93e6f1 0%, #91c0f1 45.5%);
  color: navy; }

.navbar {
  background-color: navy;
  color: white;
  padding: 0;
  margin-left: 0; }

header p {
  color: white;
  font-size: x-large; }

.btn-social-icon {
  color: white;
  font-size: x-large; }

.btn-link {
  color: white; }

.btn-primary {
  background-color: navy; }

li a {
  color: white; }

h2 {
  padding-top: 20px; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid navy; }

.copyRightLink {
  color: white; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

.btn-lg {
  background-color: orchid; }

.modal-header {
  background-color: navy; }

#singleButton {
  background-color: orchid;
  color: white; }

#cancelButton {
  background-color: orchid;
  color: white; }

#submitButton {
  background-color: navy;
  color: white; }

.btn-instagram {
  color: white; }

.btn-facebook {
  color: white; }

.btn-twitter {
  color: white; }

.btn-youtube {
  color: white; }
